.character__card{
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.container__image {
    position: relative;
  }
  
  .container__image img {
    border-radius: 15px;
    object-fit: cover;
    z-index: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
  .status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    z-index: 2;
  }
  
  .status-alive {
    background-color: green;
  }
  
  .status-dead {
    background-color: red;
  }
  
  .status-unknown {
    background-color: gray;
  }
  .character__card h3{
    font-size: 16px;
    color: grey;
    font-weight: 500;
  }
  .character__card h2{
    font-size: 24px;
  }
  .character__card hr{
    color: blueviolet;
    border: 1px solid rgba(128, 128, 128, 0.464);
  }